i.icon{
	font-size: 2em;
}

.container.main{
	margin-top: 7em;
}

#delete {
	display: inline;
}

.menu{
	margin-bottom: 10em;
}

.log{
	margin-top: 7em;
}

.out{
	margin-top: 7em;
}

.side{
	margin-top: 7em;
}